USE [master]
GO
/****** Object:  Database [QL_TRASUA]    Script Date: 21/07/2020 8:29:25 CH ******/
CREATE DATABASE [QL_TRASUA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_TRASUA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QL_TRASUA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_TRASUA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QL_TRASUA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_TRASUA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_TRASUA]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[userpassword] [nvarchar](1000) NOT NULL,
	[displayName] [nvarchar](100) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[cmnd] [nvarchar](50) NULL,
	[diachi] [nvarchar](500) NULL,
	[sodienthoai] [nvarchar](50) NULL,
	[typeuser] [int] NOT NULL,
 CONSTRAINT [PK__ACCOUNT__F3DBC5734915799D] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLDRINKS]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLDRINKS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timecheckin] [datetime] NULL,
	[timecheckout] [datetime] NULL,
	[idtable] [int] NOT NULL,
	[billstatus] [int] NOT NULL,
	[giamgia] [int] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK__BILLDRIN__3213E83F04F53DFD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINFO]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINFO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idbill] [int] NOT NULL,
	[iddrink] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK__BILLINFO__3213E83F9FDA0552] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRINK]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRINK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drinkname] [nvarchar](100) NOT NULL,
	[iddrinklist] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK__DRINK__3213E83FE69A04FC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRINKLIST]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRINKLIST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[drinklistname] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__DRINKLIS__3213E83F356D54D0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DRINKTABLE]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRINKTABLE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tablename] [nvarchar](100) NOT NULL,
	[tablestatus] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__DRINKTAB__3213E83F2A784D04] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stuffname] [nvarchar](100) NULL,
	[stuffamount] [int] NULL,
	[stuffprice] [int] NULL,
 CONSTRAINT [PK__STOCK__3213E83F73254882] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF__ACCOUNT__userpas__4D94879B]  DEFAULT ((0)) FOR [userpassword]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF__ACCOUNT__display__4E88ABD4]  DEFAULT (N'Nguyễn Minh Thông') FOR [displayName]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF__ACCOUNT__typeuse__4F7CD00D]  DEFAULT ((0)) FOR [typeuser]
GO
ALTER TABLE [dbo].[BILLDRINKS] ADD  CONSTRAINT [DF__BILLDRINK__timec__59063A47]  DEFAULT (getdate()) FOR [timecheckin]
GO
ALTER TABLE [dbo].[BILLDRINKS] ADD  CONSTRAINT [DF_BILLDRINKS_timecheckout]  DEFAULT (getdate()) FOR [timecheckout]
GO
ALTER TABLE [dbo].[BILLDRINKS] ADD  CONSTRAINT [DF__BILLDRINK__bills__59FA5E80]  DEFAULT ((0)) FOR [billstatus]
GO
ALTER TABLE [dbo].[BILLINFO] ADD  CONSTRAINT [DF__BILLINFO__count__5DCAEF64]  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[DRINK] ADD  CONSTRAINT [DF__DRINK__drinkname__5535A963]  DEFAULT (N'Chưa đặt tên món!!!') FOR [drinkname]
GO
ALTER TABLE [dbo].[DRINKLIST] ADD  CONSTRAINT [DF__DRINKLIST__drink__52593CB8]  DEFAULT (N'Chưa đặt tên') FOR [drinklistname]
GO
ALTER TABLE [dbo].[DRINKTABLE] ADD  CONSTRAINT [DF__DRINKTABL__table__49C3F6B7]  DEFAULT (N'Bàn chưa đặt tên') FOR [tablename]
GO
ALTER TABLE [dbo].[DRINKTABLE] ADD  CONSTRAINT [DF__DRINKTABL__table__4AB81AF0]  DEFAULT (N'Chưa Đặt') FOR [tablestatus]
GO
ALTER TABLE [dbo].[BILLDRINKS]  WITH CHECK ADD  CONSTRAINT [FK__BILLDRINK__bills__5AEE82B9] FOREIGN KEY([idtable])
REFERENCES [dbo].[DRINKTABLE] ([id])
GO
ALTER TABLE [dbo].[BILLDRINKS] CHECK CONSTRAINT [FK__BILLDRINK__bills__5AEE82B9]
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD  CONSTRAINT [FK__BILLINFO__count__5EBF139D] FOREIGN KEY([idbill])
REFERENCES [dbo].[BILLDRINKS] ([id])
GO
ALTER TABLE [dbo].[BILLINFO] CHECK CONSTRAINT [FK__BILLINFO__count__5EBF139D]
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD  CONSTRAINT [FK__BILLINFO__iddrin__5FB337D6] FOREIGN KEY([iddrink])
REFERENCES [dbo].[DRINK] ([id])
GO
ALTER TABLE [dbo].[BILLINFO] CHECK CONSTRAINT [FK__BILLINFO__iddrin__5FB337D6]
GO
ALTER TABLE [dbo].[DRINK]  WITH CHECK ADD  CONSTRAINT [FK__DRINK__iddrinkli__5629CD9C] FOREIGN KEY([iddrinklist])
REFERENCES [dbo].[DRINKLIST] ([id])
GO
ALTER TABLE [dbo].[DRINK] CHECK CONSTRAINT [FK__DRINK__iddrinkli__5629CD9C]
GO
/****** Object:  StoredProcedure [dbo].[CAPNHATTAIKHOAN]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CAPNHATTAIKHOAN]
@username nvarchar(100), @displayName nvarchar(100), @userpassword nvarchar(100), @passwordmoi nvarchar(100), @cmnd nvarchar(50), @diachi nvarchar(500), @sodienthoai nvarchar(50)
AS
BEGIN
	DECLARE @dungmk  INT = 0
	SELECT @dungmk = COUNT(*) FROM DBO.ACCOUNT WHERE username = @username AND userpassword = @userpassword

	IF(@dungmk = 1)
	BEGIN
		IF(@passwordmoi = NULL OR @passwordmoi = '')
		BEGIN
			UPDATE dbo.ACCOUNT SET displayName = @displayName, cmnd = @cmnd, diachi = @diachi, sodienthoai = @sodienthoai WHERE username = @username
		END
		ELSE
			UPDATE dbo.ACCOUNT SET displayName = @displayName, cmnd = @cmnd, diachi = @diachi, sodienthoai = @sodienthoai,  userpassword = @passwordmoi WHERE username = @userpassword
	END
END
GO
/****** Object:  StoredProcedure [dbo].[DANGNHAP]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DANGNHAP]
@username nvarchar(100),
@password nvarchar(100)
AS
BEGIN
	select * from dbo.ACCOUNT where username = @username and userpassword = @password
END
GO
/****** Object:  StoredProcedure [dbo].[GetTableList]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetTableList]
as select * from DRINKTABLE	
GO
/****** Object:  StoredProcedure [dbo].[LAYBANG_ID]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LAYBANG_ID]
@idbanlamgoc INT, @idbanditheo int
AS BEGIN

	DECLARE @idbilldau int
	DECLARE @idbillhai INT
	
	DECLARE @bantrong1 INT = 1
	DECLARE @bantrong2 INT = 1
	
	
	SELECT @idbillhai = id FROM dbo.BILLDRINKS WHERE idTable = @idbanditheo AND billstatus = 0
	SELECT @idbilldau = id FROM dbo.BILLDRINKS WHERE idTable = @idbanlamgoc AND billstatus = 0
	
	IF (@idbilldau IS NULL)
	BEGIN
		INSERT dbo.BILLDRINKS
		        ( timecheckin ,
		          timecheckout ,
		          idTable ,
		          billstatus
		        )
		VALUES  ( GETDATE(),
		          GETDATE(),
		          @idbanlamgoc, 
		          0  
		        )
		        
		SELECT @idbilldau = MAX(id) FROM dbo.BILLDRINKS WHERE idTable = @idbanlamgoc AND billstatus = 0
		
	END
	
	SELECT @bantrong1 = COUNT(*) FROM dbo.BillInfo WHERE idBill = @idbilldau
	
	
	IF (@idbillhai IS NULL)
	BEGIN
				INSERT dbo.BILLDRINKS
		        ( timecheckin ,
		          timecheckout ,
		          idTable ,
		          billstatus
		        )
		VALUES  ( GETDATE(),
		          GETDATE(),
		          @idbanditheo, 
		          0  
		        )
		SELECT @idbillhai = MAX(id) FROM dbo.BILLDRINKS WHERE idTable = @idbanditheo AND billstatus = 0
		
	END
	
	SELECT @bantrong2 = COUNT(*) FROM dbo.BillInfo WHERE idBill = @idbillhai

	SELECT id INTO LAYBANGHOANVI FROM dbo.BillInfo WHERE idBill = @idbillhai
	
	UPDATE dbo.BillInfo SET idBill = @idbillhai WHERE idBill = @idbilldau
	
	UPDATE dbo.BillInfo SET idBill = @idbilldau WHERE id IN (SELECT * FROM LAYBANGHOANVI)
	
	DROP TABLE LAYBANGHOANVI
	
	IF (@bantrong1 = 0)
		UPDATE dbo.DRINKTABLE SET tablestatus = N'Chưa Đặt' WHERE id = @idbanditheo
		
	IF (@bantrong2= 0)
		UPDATE dbo.DRINKTABLE SET tablestatus = N'Chưa Đặt' WHERE id = @idbanlamgoc
end
GO
/****** Object:  StoredProcedure [dbo].[LAYGIOVAO]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LAYGIOVAO]
@idtable int
AS
BEGIN
	SELECT timecheckin 
	FROM dbo.BILLDRINKS as bk, dbo.DRINKTABLE as dt
	WHERE @idtable = dt.id AND bk.billstatus = 0 AND dt.id = bk.idtable 
END
GO
/****** Object:  StoredProcedure [dbo].[THEMBILL]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMBILL]
@idtable int
AS
BEGIN
	INSERT dbo.BILLDRINKS
		( timecheckin,
		  timecheckout,
		  idtable,
		  billstatus,
		  giamgia
		  )
	VALUES
		( GETDATE() ,
		  NULL,
		  @idtable,
		  0,
		  0
		)
END
GO
/****** Object:  StoredProcedure [dbo].[THEMTHONGTINBILL]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THEMTHONGTINBILL]
@idbill int, @iddrink int, @count int
AS
BEGIN

	DECLARE @datontai INT
	DECLARE @drinkcount INT = 1

	SELECT @datontai  = id, @drinkcount = dbo.BILLINFO.count FROM dbo.BILLINFO where idbill = @idbill and iddrink = @iddrink;

	IF (@datontai > 0)
	BEGIN
		DECLARE @minuscount INT = @drinkcount + @count
		IF (@minuscount > 0)
			UPDATE dbo.BILLINFO SET count = @drinkcount + @count	where iddrink = @iddrink
		ELSE
			DELETE dbo.BILLINFO WHERE idbill = @idbill and iddrink = @iddrink
		
	END
	else
	begin
		insert dbo.BILLINFO (idbill, iddrink, count)
		values
		(@idbill, @iddrink, @count)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[THONGKEHOADON]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[THONGKEHOADON]
@timeckeckin datetime, @timecheckout datetime
AS
BEGIN
	SELECT tablename as [TÊN BÀN], timecheckin AS [GIỜ VÀO], timecheckout AS [GIỜ RA], giamgia AS[GIẢM GIÁ (%)], TongTien AS [TỔNG TIỀN (VNĐ)]
	FROM dbo.BILLDRINKS as bk, dbo.DRINKTABLE as dt
	WHERE timecheckin >= @timeckeckin AND timecheckout <= timecheckout AND bk.billstatus = 1 AND dt.id = bk.idtable 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETACCOUNTBYUSERNAME]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETACCOUNTBYUSERNAME]
@username nvarchar(100)
AS 
BEGIN
	SELECT * FROM dbo.ACCOUNT WHERE username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETACCOUNTBYUSERNAMEvsDISPLAYNAME]    Script Date: 21/07/2020 8:29:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETACCOUNTBYUSERNAMEvsDISPLAYNAME]
@username nvarchar(100),
@displayname nvarchar(100)
AS 
BEGIN
	SELECT * FROM dbo.ACCOUNT WHERE username = @username and displayName = @displayname
END
GO
/****** Object:  Statistic [PK__ACCOUNT__F3DBC5734915799D]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[ACCOUNT]([PK__ACCOUNT__F3DBC5734915799D]) WITH STATS_STREAM = 0x0100000001000000000000000000000049C76C7C000000002303000000000000E302000000000000E7030000E7000000C80000000000000008D0003400000000070000006CE2BC00F4AB00000600000000000000060000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000010000000ABAA0A410000C04000000000ABAA0A41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EE000000000000006F0100000000000077010000000000003000000000000000490000000000000062000000000000007B000000000000009A00000000000000C500000000000000300010000000803F000000000000803F040000010019003100300010000000803F000000000000803F040000010019003300300010000000803F000000000000803F040000010019004100300010000000803F000000000000803F04000001001F004200310032003300300010000000803F000000000000803F04000001002B004C00690065006E00470061007500310032003300300010000000803F000000000000803F04000001002900540068006F006E0067003200300031003100FF01000000000000000600000006000000280000002800000000000000000000001A00000031003300410042003100320033004C00690065006E00470061007500310032003300540068006F006E00670032003000310031000700000040000000008101000000810101000081010200008104030000810A0700000109110000000600000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_2739D489]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_2739D489] ON [dbo].[BILLDRINKS]([timecheckin]) WITH STATS_STREAM = 0x01000000010000000000000000000000BF4FC37000000000F201000000000000B2010000000000003D0200003D00000008001703000000000000000000000000070000005B405401D5AB000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803FE01D6B001DAC0000040000100018000000803F000000000000803FC0577E001EAC00000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_2739D489]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000003_2739D489] ON [dbo].[BILLDRINKS]([timecheckout]) WITH STATS_STREAM = 0x010000000100000000000000000000005014D99800000000F201000000000000B2010000000000003D0200003D00000008001703000000000000000000000000070000005B405401D5AB000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803FA0987B001DAC0000040000100018000000803F000000000000803F00D683001EAC00000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2739D489]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000004_2739D489] ON [dbo].[BILLDRINKS]([idtable]) WITH STATS_STREAM = 0x01000000010000000000000000000000D32CE5CE00000000EA01000000000000AA01000000000000380300003800000004000A00000000000000000000000000070000005B405401D5AB000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F05000000040000100014000000803F000000000000803F060000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_2739D489]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000005_2739D489] ON [dbo].[BILLDRINKS]([billstatus]) WITH STATS_STREAM = 0x010000000100000000000000000000005654B46200000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000005B405401D5AB000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F010000000400000200000000000000
GO
/****** Object:  Statistic [PK__BILLDRIN__3213E83F04F53DFD]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[BILLDRINKS]([PK__BILLDRIN__3213E83F04F53DFD]) WITH STATS_STREAM = 0x0100000001000000000000000000000024582F9B00000000A4020000000000006402000000000000380300003800000004000A00000000000000000000000000070000009ADB4301D7AB00000C000000000000000C000000000000000000803FABAAAA3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001400000000008040000040410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000F8000000000000000001000000000000400000000000000057000000000000006E0000000000000085000000000000009C00000000000000B300000000000000CA00000000000000E100000000000000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F05000000040000100014000000803F000000400000803F09000000040000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F000000000000803F120000000400000C00000000000000, ROWCOUNT = 111, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5BE2A6F2]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_5BE2A6F2] ON [dbo].[BILLINFO]([idbill]) WITH STATS_STREAM = 0x010000000100000000000000000000005D2A12CB00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000008C495701D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F040000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_5BE2A6F2]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000003_5BE2A6F2] ON [dbo].[BILLINFO]([iddrink]) WITH STATS_STREAM = 0x01000000010000000000000000000000D9C6680600000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000008D495701D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F050000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_5BE2A6F2]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000004_5BE2A6F2] ON [dbo].[BILLINFO]([count]) WITH STATS_STREAM = 0x01000000010000000000000000000000BAA3148C00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000008D495701D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [PK__BILLINFO__3213E83F9FDA0552]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[BILLINFO]([PK__BILLINFO__3213E83F9FDA0552]) WITH STATS_STREAM = 0x01000000010000000000000000000000B376CA2E000000003F03000000000000FF02000000000000380300003800000004000A0000000000000000000000000007000000CAD02401D9AB0000180000000000000018000000000000000000803FABAA2A3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D0000000D0000000100000014000000000080400000C041000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000093010000000000009B0100000000000068000000000000007F000000000000009600000000000000AD00000000000000C400000000000000DB00000000000000F2000000000000000901000000000000200100000000000037010000000000004E0100000000000065010000000000007C01000000000000100014000000803F000000000000803F1D000000040000100014000000803F0000803F0000803F1F000000040000100014000000803F0000803F0000803F21000000040000100014000000803F0000803F0000803F23000000040000100014000000803F0000803F0000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B000000040000100014000000803F0000803F0000803F2D000000040000100014000000803F0000803F0000803F2F000000040000100014000000803F0000803F0000803F31000000040000100014000000803F0000803F0000803F33000000040000100014000000803F000000000000803F340000000400001800000000000000, ROWCOUNT = 191, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_534D60F1]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_534D60F1] ON [dbo].[DRINK]([drinkname]) WITH STATS_STREAM = 0x010000000100000000000000000000008F650112000000004B020000000000000B02000000000000E7030000E7000000C80000000000000008D000340000000007000000EA442601D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000008420000803F0000000000000842000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000410000000000000097000000000000009F000000000000000800000000000000300010000000803F000000000000803F0400000100390054007200E00020005300EF1E6100200054006800E10069002000580061006E006800FF01000000000000000100000001000000280000002800000000000000000000001100000054007200E00020005300EF1E6100200054006800E10069002000580061006E0068000200000040000000000111000000000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_534D60F1]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000003_534D60F1] ON [dbo].[DRINK]([iddrinklist]) WITH STATS_STREAM = 0x01000000010000000000000000000000B7B1F14D00000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000EB442601D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_534D60F1]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000004_534D60F1] ON [dbo].[DRINK]([price]) WITH STATS_STREAM = 0x010000000100000000000000000000000529838B00000000CF010000000000008F010000000000003E0300003E0000000800350000000000000000000000000007000000EA442601D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000018000000000000410000803F000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000004CCD400400000100000000000000
GO
/****** Object:  Statistic [PK__DRINK__3213E83FE69A04FC]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[DRINK]([PK__DRINK__3213E83FE69A04FC]) WITH STATS_STREAM = 0x010000000100000000000000000000008E18BAA6000000003704000000000000F7030000000000003803E0CA3800000004000A000000000000000000000000000700000099DB4301D7AB0000290000000000000029000000000000000000803F0CCEC73C000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000015000000150000000100000014000000000080400000244200000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000008B020000000000009302000000000000A800000000000000BF00000000000000D600000000000000ED0000000000000004010000000000001B0100000000000032010000000000004901000000000000600100000000000077010000000000008E01000000000000A501000000000000BC01000000000000D301000000000000EA01000000000000010200000000000018020000000000002F0200000000000046020000000000005D020000000000007402000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F000000000000803F12000000040000100014000000803F000000400000803F16000000040000100014000000803F0000803F0000803F18000000040000100014000000803F0000803F0000803F1A000000040000100014000000803F0000803F0000803F1C000000040000100014000000803F0000803F0000803F1E000000040000100014000000803F0000803F0000803F20000000040000100014000000803F000000000000803F21000000040000100014000000803F000000400000803F25000000040000100014000000803F0000803F0000803F27000000040000100014000000803F0000803F0000803F29000000040000100014000000803F0000803F0000803F2B0000000400002900000000000000, ROWCOUNT = 41, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_5070F446]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_5070F446] ON [dbo].[DRINKLIST]([drinklistname]) WITH STATS_STREAM = 0x01000000010000000000000000000000C5F14238000000002302000000000000E301000000000000E7030000E7000000C80000000000000008D000340000000007000000318D2401D5AB000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100250054005200C00020005300EE1E4100FF01000000000000000100000001000000280000002800000000000000000000000700000054005200C00020005300EE1E41000200000040000000000107000000000100000000000000
GO
/****** Object:  Statistic [PK__DRINKLIS__3213E83F356D54D0]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[DRINKLIST]([PK__DRINKLIS__3213E83F356D54D0]) WITH STATS_STREAM = 0x0100000001000000000000000000000039A3D0DE0000000066020000000000002602000000000000380300003800000004000A000000000000000000000000000700000037F60001DDAB00000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000BA00000000000000C200000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F000000000000803F06000000040000100014000000803F000000400000803F0A000000040000100014000000803F000000000000803F0B0000000400000A00000000000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_47DBAE45]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_47DBAE45] ON [dbo].[DRINKTABLE]([tablename]) WITH STATS_STREAM = 0x01000000010000000000000000000000C319AB9D0000000069040000000000002904000000000000E7030000E7000000C80000000000000008D00034000000000700000027747F00DEAB0000160000000000000016000000000000000000803F8C2E3A3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000D0000000D0000000100000010000000175D34410000B04100000000175D34410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002502000000000000B502000000000000BD0200000000000068000000000000008900000000000000AC00000000000000CF00000000000000F2000000000000001501000000000000380100000000000059010000000000007C01000000000000A101000000000000C201000000000000E3010000000000000402000000000000300010000000803F000000000000803F040000010021004200E0006E0020003100300010000000803F0000803F0000803F040000010023004200E0006E00200031003100300010000000803F0000803F0000803F040000010023004200E0006E00200031003300300010000000803F0000803F0000803F040000010023004200E0006E00200031003500300010000000803F0000803F0000803F040000010023004200E0006E00200031003700300010000000803F0000803F0000803F040000010023004200E0006E00200031003900300010000000803F000000000000803F040000010021004200E0006E0020003200300010000000803F0000803F0000803F040000010023004200E0006E00200032003100300010000000803F000000000000803F040000010025004200E0006E002000320031003200300010000000803F0000803F0000803F040000010021004200E0006E0020003400300010000000803F0000803F0000803F040000010021004200E0006E0020003600300010000000803F0000803F0000803F040000010021004200E0006E0020003800300010000000803F000000000000803F040000010021004200E0006E0020003900FF01000000000000000B0000000B00000028000000280000000000000000000000100000004200E0006E0020003100330035003700390032003000310032003400360038000E00000040000000004004000000C10104000081010400008101050000810106000081010700000101080000C00109000081010A000001020B000081010D000081010E000001010F0000001600000000000000
GO
/****** Object:  Statistic [PK__DRINKTAB__3213E83F2A784D04]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[DRINKTABLE]([PK__DRINKTAB__3213E83F2A784D04]) WITH STATS_STREAM = 0x010000000100000000000000000000007AD3E7C4000000000103000000000000C102000000000000380300003800000004000A000000000000000000000000000700000082AE8100DAAB0000140000000000000014000000000000000000803FCDCC4C3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B0000000B0000000100000014000000000080400000A041000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000055010000000000005D0100000000000058000000000000006F0000000000000086000000000000009D00000000000000B400000000000000CB00000000000000E200000000000000F900000000000000100100000000000027010000000000003E01000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F000000040000100014000000803F0000803F0000803F11000000040000100014000000803F0000803F0000803F13000000040000100014000000803F000000000000803F140000000400001400000000000000, ROWCOUNT = 21, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_324172E1]    Script Date: 21/07/2020 8:29:26 CH ******/
CREATE STATISTICS [_WA_Sys_00000002_324172E1] ON [dbo].[STOCK]([stuffname]) WITH STATS_STREAM = 0x01000000010000000000000000000000DC7614CB00000000D5070000000000009507000000000000E7020000E7000000C80000000000000008D00034E701000007000000BACBD400DEAB00001100000000000000110000000000000000000000F1F0703D0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000001100000001000000100000001E1E064200008841000000001E1E06420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004904000000000000210600000000000029060000000000008800000000000000D90000000000000000010000000000002B0100000000000052010000000000008701000000000000AE01000000000000EB0100000000000020020000000000006F02000000000000C002000000000000DD0200000000000022030000000000006703000000000000A003000000000000E5030000000000002E04000000000000300010000000803F000000000000803F040000010051004300E000200050006800EA0020005400720075006E00670020004E00670075007900EA006E00200028006700F3006900200031006B0067002900300010000000803F000000000000803F04000001002700430061006D00200028006B0067002900300010000000803F000000000000803F04000001002B004300680061006E006800200028006B0067002900300010000000803F000000000000803F040000010027004400E2007500200028006B0067002900300010000000803F000000000000803F040000010035001001B001DD1E6E006700200028006700F3006900200031006B0067002900300010000000803F000000000000803F040000010027004700EB1E6E00670028006B0067002900300010000000803F000000000000803F04000001003D004800D31E6E006700200054007200E000200028006700F3006900200035003000300067002900300010000000803F000000000000803F040000010035004E00B001DB1E630020004C00CD1E6300200028004200EC006E0068002900300010000000803F000000000000803F04000001004F005300EF1E610020001001B71E63002000560069006E0061006D0069006C006B00200028004800D91E70002000310020006C00ED0074002900300010000000803F000000000000803F040000010051005300EF1E610020005400B001A10169002000560069006E0061006D0069006C006B00200028004800D91E70002000310020006C00ED0074002900300010000000803F000000000000803F04000001001D005400AF1E6300300010000000803F000000000000803F0400000100450054006800A11E6300680020004300E71E20004E0003016E006700200028006700F3006900200031006B0067002900300010000000803F000000000000803F0400000100450054006800A11E63006800200050006800F40020004D0061006900200028006800D91E7000200032006B0067002900300010000000803F000000000000803F0400000100390054007200E00020006B006800F400200028006700F3006900200032006B0067002900300010000000803F000000000000803F0400000100450054007200E2006E00200043006800E20075002000100165006E00200028006700F3006900200031006B0067002900300010000000803F000000000000803F0400000100490054007200E2006E00200043006800E2007500200054007200AF1E6E006700200028006700F3006900200031006B0067002900300010000000803F000000000000803F04000001001B005800A31EFF01000000000000000A0000000A00000028000000280000000000000000000000B40000004300E000200050006800EA0020005400720075006E00670020004E00670075007900EA006E00200028006700F3006900200031006B0067002900680061006E006800200028006B00670029001001B001DD1E6E006700200028006700F3006900200031006B00670029004800D31E6E006700200054007200E000200028006700F30069002000350030003000670029004E00B001DB1E630020004C00CD1E6300200028004200EC006E00680029005300EF1E610020005400B001A10169002000560069006E0061006D0069006C006B00200028004800D91E70002000310020006C00ED007400290054006800A11E6300680020004300E71E20004E0003016E006700200028006700F3006900200031006B006700290050006800F40020004D0061006900200028006800D91E7000200032006B00670029007200E2006E00200043006800E20075002000100165006E00200028006700F3006900200031006B00670029005800A31E0E0000004000000000C001000000811C01000001091D0000810F2600008113350000810F480000811D570000C001740000C00575000081117A000001118B000001169C00000102B20000001100000000000000
GO
/****** Object:  Statistic [PK__STOCK__3213E83F73254882]    Script Date: 21/07/2020 8:29:26 CH ******/
UPDATE STATISTICS [dbo].[STOCK]([PK__STOCK__3213E83F73254882]) WITH STATS_STREAM = 0x010000000100000000000000000000006BAB2FB000000000A4020000000000006402000000000000380300003800000004000A0000000000000000000000000007000000965ACC00DEAB00000F000000000000000F000000000000000000803F8988883D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000008000000010000001400000000008040000070410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000F8000000000000000001000000000000400000000000000057000000000000006E0000000000000085000000000000009C00000000000000B300000000000000CA00000000000000E100000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F0000803F0000803F0B000000040000100014000000803F0000803F0000803F0D000000040000100014000000803F0000803F0000803F0F0000000400000F00000000000000, ROWCOUNT = 16, PAGECOUNT = 1
GO
USE [master]
GO
