<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_TRASUA_MTPARADISE.Properties.Settings.QL_TRASUAConnectionString"
            connectionString="Data Source=LAPTOP-DJ9J9KHA\SQLEXPRESS;Initial Catalog=QL_TRASUA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>